
:root {
    --icon-main-color: #ffffff;
    --main-font-color: #889AC9;
    --secondary-font-color: #ffffff;

}

body {
    background-color: black;
    background-image: url(../image/BG.svg);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 1.5em;
}

.navbar__logo {
    font-size: 44px;
    font-weight: 400;
    color:var(--main-font-color);
}

.navbar__menu {
    color: var(--icon-main-color);
}

.navbar__option {
    display: none;
}

.firstScreen {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 87vh;
}

.firstScreen__title {
    display: flex;
    margin: 3em 0 1em 0;
}

.firstScreen__title-text {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 50vh;
    padding-right: 0.1;
}

.firstScreen__title-l, .firstScreen__title-r {
    display: flex;
    font-size: 50px;
    justify-items: center;
    align-items: center;
    color: var(--main-font-color);
}

.firstScreen__title-image {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 50vh;
}

.firstScreen__principal-image {
    display: flex;
    width: 70vw;
    height: 33vh;
    margin-left: 0.6em;
    justify-items: center;
    align-items: center;
    border: 1px solid var(--icon-main-color);
    border-radius: 100%;
    flex-shrink: 2;
}

.firstScreen__description {
    font-size: 24px;
    font-weight: 400;
    color: var(--secondary-font-color);
    margin-top: 1em;
}

.firstScreen__subtitle {
    font-size: 24px;
    font-weight: bold;
    color: var(--secondary-font-color);
    margin-top: 1.5em;
}

.firstScreen__btn {
    margin-top: 2em;
}

/* transition screen */

.transitionScreen__empty {
    margin: 30em 0 30em 0;
}

/* Second Screen */

.secondScreen {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    color: var(--secondary-font-color);
    width: 100vw;
    height: 100vh;
}

.secondScreen__title {
    font-size: 32px;
}

.secondScreen__image {
    width: 100vw;
    height: 80vw;
    justify-items: center;
    align-items: center;
}

.secondScreen__text {
    font-size: 14px;
    flex-wrap: wrap;
    border: 1px solid var(--icon-main-color);
    border-radius: 5px;
    margin: 0em 1.5em .5em 1.5em;
    padding: 1em .5em 1em .5em;
}

/* transition screen banner*/

.transitionScreen {
    width: 100vw;
    position: relative;
}

.transitonScreen__banner {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 50px;
    width: 100vw;
    left: -1em;

}

@media (min-width: 1440px) {

    .navbar__menu {
        display: none;
        color: var(--icon-main-color);
    }
    
    .navbar__option {
        color: var(--icon-main-color);
        display: flex;
        width: auto;
    }

    .navbar__option-list {
        display: flex;
        justify-content: space-evenly;
    }

    .navbar__option-itemList {
        padding-right: 2em;
        font-size: 22px;

    }

    .firstScreen {
        width: 100vw;
        height: 100vh;
        padding: 0;
        justify-content: center;
        text-align: center;
    }

    .firstScreen__title {
        display: flex;
        margin: 20em 0 10em 0;
        width: 100vw;
    }
    
    .firstScreen__title-text {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 0 0em 0 0em;
        width: 100vw;
        height: 50vh;
    }
    
    .firstScreen__title-l, .firstScreen__title-r {
        display: flex;
        font-size: 300px;
        color: var(--main-font-color);
    }
    
    .firstScreen__title-image {
        position: absolute;
        width: 668px;
        height: 668px;
        left: 386px;
        top: 282px;
    }
    
    .firstScreen__principal-image {
        display: flex;
        width: 49vw;
        height: 86vh;
        margin: 0 0 0 2em;
        padding: 0;
        justify-items: center;
        align-items: center;
        border: 1px solid var(--icon-main-color);
        border-radius: 100%;
    }

    .firstScreen__description {
        font-size: 24px;
        font-weight: 400;
        color: var(--secondary-font-color);
        margin-top: 1em;
    }
    
    .firstScreen__subtitle {
        padding: 0 2em 0 2em;
        font-size: 24px;
        font-weight: bold;
        color: var(--secondary-font-color);
        margin-top: 1.5em;
    }
    
    .firstScreen__btn {
        margin-top: 2em;
    }
    
}